body {
    margin-bottom: 70px;
}
.img-main{
    opacity: 0.5;
}

.parallax{
    width: 100%;
    height: 700px;
    background-image: url("img/web-design_1920.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.initial-text{
    position: relative;
    top: 50px;
}

.carousel-caption{
    color: #000;
    font-size: 42px;
}

.sobre-mi{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: greenyellow;
}

.progreso{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: burlywood;
}

.portfolio{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: wheat;
}

textarea{
    resize: none;
}